<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myotp">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".loanding.Loading"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".login.SignIn"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".login.RegisterActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".login.LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".map.ActivityMaps" />
        <activity android:name=".map.Permission" />
        <activity android:name=".Apropos" />
        <activity
            android:name=".Design"
            android:theme="@style/AppDesign" />
        <activity
            android:name=".menu.Drawables"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".frontend.Enternumber" />
        <activity android:name=".frontend.Incoming_audio_call" />
        <activity android:name=".frontend.AudioCallScreen" />
        <activity android:name=".frontend.AudioCall" />
        <activity
            android:name=".server.scripts.Editor"
            android:theme="@style/EditorTheme" /> <!--  -->
        <activity
            android:name=".map.MapsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".otp.VerifyActivity"
            android:parentActivityName=".otp.SendOPTActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".otp.SendOPTActivity"
            android:parentActivityName=".menu.Drawables"
            android:screenOrientation="portrait" />
        <activity
            android:name=".login.DeshboadActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/maps_key" />

        <service android:name=".backend.SinchService" />
    </application>

</manifest>